* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

body {
  background-color: #9873fe;
}

.wrapper {
  width: 90%;
  max-width: 32em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 1em;
  border-radius: 0.8em;
}

.app-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-icon {
  width: 100px;
}

.app-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

input#amount {
  font-weight: 400;
  font-size: 16px;
  padding: 8px 0px;
  width: 100%;
  border-bottom: 2px solid #02002c;
  color: #7a789d;
  margin-bottom: 1.5em;
}

input#amount:focus {
  color: #9873fe;
  border-color: #9873fe;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 0.2em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 6px top 50%, center;
  background-size: 10px 10px;
  background-color: #9873fe;
  color: #ffffff;
}

select option {
  background-color: #ffffff;
  color: #02002c;
}

button {
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  background-color: #9873fe;
  padding: 10px 0px;
  margin: 1em 0px;
  border-radius: 0.3em;
  color: #ffffff;
  margin-top: 12px;
  font-weight: 600;
}

#result {
  font-size: 14px;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #e5dbff;
  padding: 1em 0;
}

.source {
  width: -webkit-fill-available;
}

.source p,
.target p {
  width: max-content;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.target {

  width: 100%;
}

.icon {
  margin-top: 33px;
}